/* Timeline styles to support the component */
@media (min-width: 768px) {
  .md\:block {
    display: block !important;
  }
  .md\:hidden {
    display: none !important;
  }
  .md\:pl-20 {
    padding-left: 5rem;
  }
  .md\:text-5xl {
    font-size: 3rem;
  }
}

.text-neutral-500 {
  color: #737373;
}
